body{
    background: #d8dcde;  /* fallback for old browsers */
}

.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}

h1,h5{
    font-family: 'Roboto', sans-serif; 
    vertical-align: auto;
    text-align: center;
}

.heading{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
